@import '../node_modules/locomotive-scroll/dist/locomotive-scroll.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Only necessary with horizontal scrolling */
html[data-scroll-orientation="horizontal"] {
    body {
        width: fit-content;
    }

    [data-scroll-container] {
        display: flex;
    }
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /*colors*/
    --bg: #F9F4E0;
    --accent: #e7aa69;
    --black: #0B2D4D;
    --accent2: #6ca3d5;
    --accentReverse: #e3c3a5;
    --neutral: #D6D6D8;

    color-scheme: light dark;
    color: var(--black);
    background-color: var(--bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @apply overflow-y-hidden max-h-[100vh] m-0 grid;
}

a {
    color: var(--black);
}

a:visited {
    color: var(--black);
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 10vmin);
    font-weight: bold;
    color: var(--accent);
    overflow: hidden;
    max-width: 100vw;
    line-height: 1;
}

section:nth-of-type(2n) {
    background: var(--black);
    color: var(--bg);
}

h1, h2, h3, h4, h5, a {
    @apply font-display;
}

.wrapper {
    @apply max-w-[1280px] w-full px-10 mx-auto;
}

.hamb:hover .hamb-middle {
    @apply w-2 mr-[2px];
}

.logo-arrow {
    transition: 0.4s;
    opacity: 0;
}

#header-logo.scrolled:hover .logo-arrow {
    opacity: 1;
    transform: translate(-50%, -6px);
}

.hamb-middle, .hamb span {
    transition: 0.15s ease-out;
}

.scrollbar {
    position: fixed;
    z-index: 9;
    right: 0;
    padding-inline: 4px;
    top: 24px;
    bottom: 6px;
    display: flex;
    justify-content: end;
    width: 10px;
    mix-blend-mode: difference;
}

.scrollbar:hover .scrollbar-thumb {
    opacity: 1 !important;
    min-width: 12px;
}

.scrollbar-thumb {
    height: 126px;
    min-width: 6px;
    background: var(--bg);
    cursor: pointer;
    opacity: 1 !important;
    transition: all 0.15s ease-out;
}

.button {
    @apply bg-blue-500 flex px-10 py-4 text-sm text-white;
}