@tailwind base;
@tailwind components;
@tailwind utilities;

/* Only necessary with horizontal scrolling */
html[data-scroll-orientation="horizontal"] {
    body {
        width: fit-content;
    }

    [data-scroll-container] {
        display: flex;
    }
}

:root {
    font-family: 'Roboto Flex', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /*colors*/
    --bg: #f9f4e0;
    --accent: #d26930;
    --black: #0B2D4D;
    --black2: #143961;
    --accent2: #6ca3d5;
    --accentRevert: #efe8d3;
    --neutral: #D6D6D8;

    color-scheme: light dark;
    color: var(--black);
    background-color: var(--bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection { /* Code for Firefox */
    color: var(--bg);
    background: var(--black);
}

::selection {
    color: var(--bg);
    background: var(--black);
}

body {
    @apply overflow-y-hidden max-h-[100vh] m-0 grid;
}

a {
    color: var(--black);
}

/*img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/

/*a:visited {*/
/*    color: inherit;*/
/*}*/

section, header {
    width: 100%;
    /*min-height: 100vh;*/
    display: flex;
    align-items: start;
    /*overflow: hidden;*/
    max-width: 100svw;
    line-height: 1;
}

header {
    min-height: 100vh;
}

/*section:nth-of-type(2n) {*/
/*    background: var(--black);*/
/*    color: var(--bg);*/
/*}*/

h1, h2, h3, h4, h5, a {
    @apply font-display;
}

.anim, h2, h3, h4, .description, .button-wrapper {
    perspective: 600px;
}

.anim .anim-line, h2 .title-line, h3 .title-line, h4 .title-line, .description-line, .button-wrapper a {
    display: block;
    transform: translateY(100%) rotateX(-80deg);
    transition: opacity 0.8s cubic-bezier(.215, .61, .355, 1), transform 0.8s cubic-bezier(.215, .61, .355, 1);
    transform-origin: center top;
    transform-style: preserve-3d;
    transition-duration: 1s;
    transition-delay: 0.1s;
    opacity: 0;
}

.anim.is-inview .anim-line, h2.is-inview .title-line, h3.is-inview .title-line, h4.is-inview .title-line,
.description.is-inview .description-line, .button-wrapper.is-inview a {
    opacity: 1;
    transform: none;
}

h1 {
    @apply text-[46px] font-semibold
}

h2 {
    @apply text-[36px] font-semibold;
}

.button {
    @apply relative font-display bg-accent flex px-10 py-4 text-sm text-white overflow-hidden tracking-wider;
    transition: .3s ease-out;
}

.button-light {
    @apply relative font-display flex px-10 py-4 text-sm text-white overflow-hidden tracking-wider;
    transition: .3s ease-out;
}

.button span, .button-light span {
    @apply relative;
    z-index: 10;
}

.button:after {
    @apply absolute inset-0 translate-y-[100%] bg-black;
    content: '';
    transition: .3s ease-out;
}

.button:hover:after {
    @apply translate-y-0;
}


.button-light:after {
    @apply absolute inset-0 translate-y-[100%] bg-white/10;
    content: '';
    transition: .3s ease-out;
}

.button-light:hover:after {
    @apply translate-y-0;
}

.button:hover {
    box-shadow: 0 0 0 4px color-mix(in srgb, var(--black) 20%, transparent);
}

.wrapper {
    @apply max-w-[1280px] w-full px-10 mx-auto;
}

.hamb:hover .hamb-middle {
    @apply w-2 mr-[2px];
}

.logo-arrow {
    transition: 0.4s;
    opacity: 0;
}

#header-logo.scrolled:hover .logo-arrow {
    opacity: 1;
    transform: translate(-50%, -6px);
}

.hamb-middle, .hamb span {
    transition: 0.15s ease-out;
}

.scrollbar, .scrollbar-tours {
    position: fixed;
    z-index: 9;
    right: 0;
    padding-inline: 4px;
    top: 0px;
    bottom: 6px;
    display: flex;
    justify-content: end;
    width: 10px;
    mix-blend-mode: difference;
}

.scrollbar-tours {
    z-index: 999;
    right: auto;
    left: auto;
}

.scrollbar-tours-thumb {
    @apply bg-bg;
    height: 100px;
}

.scrollbar:hover .scrollbar_thumb {
    opacity: 1 !important;
    min-width: 12px;
}

.scrollbar_thumb {
    /*height: 126px;*/
    min-width: 6px;
    background: var(--bg);
    cursor: pointer;
    opacity: 1 !important;
    transition: all 0.15s ease-out;
}

.hamb.opened .hamb-first {
    width: 14px;
    transform: translate(-9px, 4px) rotate(-45deg);
}

.hamb.opened .hamb-last {
    transform: translate(7px, 0px) rotate(45deg);
}

.heading {
    @apply flex items-center gap-2;
}

.heading h2 {
    @apply flex;
}

.heading .decor {
    @apply w-4 h-0.5 bg-black will-change-transform;
}

.menu a {
    opacity: 0;
    transition: 0.15s ease-out;
}

.menu-desktop:not(.opened), .menu-mobile-wrapper:not(.opened) {
    user-select: none;
    pointer-events: none;
}

.menu-mobile {
    @apply relative flex-col h-max translate-y-[-100%] pt-[100px] pb-10 w-[260px] bg-black flex items-end justify-center
    text-sm gap-6 right-0 tracking-wider pr-14;
}

.menu-mobile-wrapper {
    @apply fixed z-50 inset-0 flex items-stretch justify-end;
}

.menu-mobile-wrapper.opened {
    @apply backdrop-grayscale;
}

.gallery-items > div:has(img) {
    position: relative;
    cursor: pointer;
    /*cursor: zoom-in;*/
}

.gallery-items > div:has(img) {
    transition: 0.15s ease-out;
    overflow: hidden;
    opacity: .6;
}

.gallery-items > div:has(img):hover {
    opacity: 1;
}

.gallery-items img {
    transition: 0.6s ease-out;
}

.gallery-items > div:has(img):hover img {
    transform: scale(1.1);
}

.gallery-items > div:not(.gallery-text) {
    @apply w-[112px]
}

.photo-with {
    @apply flex items-center justify-center text-center text-[12px] w-max;
    background: color-mix(in srgb, var(--black) 8%, transparent);
}

.gallery-items .gallery-text {
    @apply w-auto;
}

.gallery-items {
    @apply grid grid-rows-2 grid-flow-col gap-1 grid-cols-[repeat(auto-fit,112px)] max-[460px]:grid-cols-[repeat(auto-fit,64px)] max-[460px]:grid-rows-2;
}

.gallery-items > div:not(.gallery-text) {
    background: color-mix(in srgb, var(--black) 4%, transparent);
}

.gallery-items > div img {
    @apply w-full h-full object-cover
}

.modal-tours-content {
    scroll-behavior: smooth;
}

#modal-prices, #schedule, #extra, #recommendations, #work, #life {
    scroll-margin-top: 50px;
}

.modal-tours-content::-webkit-scrollbar {
    width: 0;
}

.tours-link {
    @apply bg-bg;
}

.tours-link.active {
    @apply text-accent transition-colors;
}

#popup:not(.show), #popup-loader:not(.show) {
    z-index: -1;
    pointer-events: auto;
    user-select: none;
    opacity: 0;
}

.modal-tours::before {
    @apply absolute inset-0 bg-neutral-950/80 opacity-0;
    content: '';
    transition: opacity 0.3s linear;
}

.modal-tours.open::before {
    @apply opacity-100;
}

.modal-tours.open {
    z-index: 100;
}

.tours-slider {
    position: relative;
}

.modal-tours-content .next, .modal-tours-content .prev {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    width: 60px;
    cursor: pointer;
    @apply transition-colors;
}

.modal-tours-content .small .next svg, .modal-tours-content .small .prev svg {
    width: 16px;
    height: 16px;
}

.modal-tours-content .small .next, .modal-tours-content .small .prev {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    @apply transition-colors;
}

.modal-tours-content .next:hover, .modal-tours-content .prev:hover {
    background: rgba(0, 0, 0, 0.1);
}

.modal-tours-content .next {
    right: 0;
}

.modal-tours-content .prev {
    left: 0;
}

.modal-tours-content .small .navs {
    gap: 4px;
}

.modal-tours-content .small .navs > div {
    width: 16px;
}

.modal-tours-content .navs > div:hover {
    background: var(--accent);
}

.modal-tours-content .navs {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.modal-tours-content .navs > div.tns-nav-active {
    background: var(--accent);
}

.modal-tours-content .navs > div {
    @apply transition-colors;
    cursor: pointer;
    width: 40px;
    height: 2px;
    background: var(--bg);
}

#popup-loader {
    z-index: 51;
}

#popup {
    z-index: 51;
    cursor: zoom-out;
}

@media screen and (max-width: 460px) {
    .wrapper {
        @apply px-6;
    }

    .gallery-items .gallery-text {
        @apply text-[12px];
    }

    .gallery-items {
        @apply grid-rows-3;
    }

    .gallery-items .photo-with {
        @apply text-[10px];
    }

    .gallery-items > div:not(.gallery-text) {
        @apply w-[64px]
    }

    .gallery-items > div:has(img) {
        opacity: 1;
    }

    /*.gallery-items > div:not(:has(:first-child)) {*/
    /*    display: none !important;*/
    /*}*/
}
